__pycache__/
classification_training/__pycache__/
*.ipynb
test.py
# classification_training/database/
transformers_training/model/
transformers_training/model_test/
transformers_training/data/
paths.py